Repository misha1235000/SpikeServer, pull requests merged in 2019-03, with the labels that each got.

#97 Add /health route for IsAlive.
  src/app.ts
Labels: enhancement

#98 Enable https communication
  package-lock.json
  package.json
  scripts/config.js
  scripts/copy_files.js
  scripts/generate_certs.js
  src/certs/files/certificate.pem
  src/certs/files/privatekey.pem
  src/certs/files/publickey.pem
  src/config.ts
  src/server.ts
Labels: Config, fix

#99 Edit config structure.
  src/config.ts
Labels: Config
